## ASSIGNMENT 3

In this assignment you will learn to use iteration structures (for loop, while loop) and play around with different data structures (lists and dictionaries)

### Multiplication tables
This will be your first introduction in using the for-loop iteration structure. Most of you will remember multiplication tables from primary school, where you had to rehearse them endlessly. For instance, the multiplication table of 4 looks like:

1 x 4 = 4 <br/>2 x 4 = 8 <br/> 3 x 4 = 12  <br/>4 x 4 = 16  <br/>and so on. <br/><br/>In the upcoming exercises you are going to print such multiplication tables using for-loops.

#### Question 1
Print the multiplication table of 2 (stop at 10 x 2). You can use range() in combination with a for-loop to easily do this.
* With range() you generate the list of multiplicators (e.g. the numbers you are going to multiply 2 with) and then you traverse this list with a for loop and multiply each number that it gives you with 2.
* Think about which values you want to use as the arguments for range, if you want to start with 1 x 2 and stop at 10 x 2.

You should print the full multiplication and the result.

In [2]:
#answer question 1
for i in range(1,11): # i ges from 1 to 10 in steps of 1 
    print('{} x {} = {}'.format(i,2,i*2))

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

#### Question 2
Nest the for-loop you wrote for question 1 in a second for-loop to print all the tables. The outer for-loop will generate all the primary table numbers and the inner for-loop will generate all the multiplicators. In pseudocode the structure looks like this:
```python
for each number from 1 to 10:
    for each multiplicator from 1 to 10:
        print <multiplication and result>
```

In [5]:
#answer question 2
for i in range(1,11): #table numbers
    for j in range(1,11): # multiplicators
        print('{} x {} = {}'.format(j,i,i*j))

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

#### Question 3
Print out the message “The table of <table no>” before a new table is printed. The output should thus look like this:<br/><br/> The table of 1: <br/>1 x 1 = 1<br/> 2 x 1 = 2 <br/>3 x 1 = 3<br/> … <br/>10 x 1 = 10 <br/>The table of 2: <br/>1 x 2 = 2<br/> 2 x 2 = 4 <br/>3 x 2 =6 … <br/>10 x 2 = 20<br/> The table of 3: <br/>1 x 3 = 3 <br/>2 x 3 = 6 <br/>and so on.

In [6]:
#answer question 3
for i in range(1,11): #table numbers
    print('The table of {}'.format(i))
    for j in range(1,11): # multiplicators
        print('{} x {} = {}'.format(j,i,i*j))

The table of 1
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
The table of 2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
The table of 3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
The table of 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
The table of 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
The table of 6
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
The table of 7
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
The table of 8
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
The table of 9
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
The table of 10
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

### Range()
Range() is a useful function that's already built-in in python. range() comes in a couple of forms. Try the different forms of range() in the cell below, and compare the outcomes.

In [10]:
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,5))) # !
print(list(range(0,30,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

#### To think about
You know that range() is a function, and that functions can have (default) arguments. Describe what the three arguments that can be passed to range() do, and what their default values are -- i.e. what python does if you leave them out.

### Data structures
In the lecture, I gave the following example in which I stored various dictionaries in one list: 

```python
student1 = {"name":"Olivia","age":18}
student2 = {"name":"Regina","age":20}
students = [student1, student2] # create list containing these dicts
students[0]["name"] # list item 1, retrieve and print name Olivia
Olivia
```

Graphically, the structure I created there would look like this:<br/><img style="float: left;" src="listofdicts.png" width="200"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Alternatively, it would also be possible to just create one dictionary, and populate it with a list of values for each person, which would look like this:<br/>
<img style="float: left;" src="dictoflists.png" width="200"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>So in other words, now you have 1 dictionary with the fields name and age, and both these fields contain a list with corresponding values.

#### Question 4
Write the code that would create the above structure in Python. Afterwards, you should for instance be able to retrieve the name of the first student with:
```python
students["name"][0]
```

In [20]:
#answer question 4
students = {'name':['Olivia','Regina'],'age':[18,20]}
students['name'][0]

'Olivia'

#### Question 5
How can you retrieve the age of the second person from this structure referenced by students which you just created? Specify the code to do this

In [21]:
#answer question 5
students['age'][1]

20

#### Question 6
Write the code to add the following three persons to your structure referenced by students:


|Name|Age|
|:- |:-:| 
|Karl|22 | 
|Priscilla|19|  
|Boris |20|  

Check whether the structure now contains 5 persons

In [22]:
#answer question 6
students['name'] += ['Karl','Priscilla','Boris']
students['age'] += [22,19,20]
students

{'name': ['Olivia', 'Regina', 'Karl', 'Priscilla', 'Boris'],
 'age': [18, 20, 22, 19, 20]}

#### Question 7
Use indices to retrieve the age of each person and use this data to calculate the average age of all 5 persons and then print this average age. You should get 19.8 as the answer

In [25]:
#answer 7
sum_ages = students['age'][0] + students['age'][1] + students['age'][2] + students['age'][3] + students['age'][4]
avg_age = sum_ages / 5
print('The average age of all students is {}'.format(avg_age))

The average age of all students is 19.8

#### Question 8
Python offers useful built-in functions that does a lot of the hard work for you. Two of these are:<br/>

sum(<list>) – calculate the sum of all numbers in a list <br/>len(<list>) – give the number of elements in the list

```python
l = [2,4,6] total = sum(l) # ‘total’ will get the value 12 
items = len(l) # ‘items’ will get the value 3 
avg = total/items # avg will result to 4
```
Use these two functions to calculate the average age, instead of retrieving every age by using indexing like you did in question 7. If you can, do this without assigning the result of sum and len to a variable (e.g. use sum and len directly in the equation you use to calculate the average). Also print the average age you just calculated.

In [26]:
#answer question 8
avg_age = sum(students['age'])/len(students['age'])
print('The average age of all students is {}'.format(avg_age))

The average age of all students is 19.8